<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-row>
  <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-center">
    <ion-item lines="none" color="secondary" class="ion-text-center">
      <h5><strong>{{ subtitle }}</strong></h5>
    </ion-item>
  </ion-col>
</ion-row>

<ion-content class="ion-padding">  
    <ion-text class="ion-text-center" >     
      <p class="TextCenter"> Módulo em desenvolvimento, ou não customizado. Contacte o administrador <br> do sistema por favor! </p>
    </ion-text>
</ion-content>