<ion-header no-border>
  <ion-toolbar color="primary" class="delivery__toolbar">

    <ion-buttons slot="start">
      <!-- <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button> -->

    </ion-buttons>
    
    <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Delivery</ion-title>  
  </ion-toolbar>

</ion-header>

<ion-content>

  <section>
    <div class="wrap">
      <!-- <h2 class="woppa__heading">Delivery</h2> -->
      <div class="tab">
        <!-- <button class="tab__links" (click)="openCity(event, 'Proximo')">Próximo</button>
        <button class="tab__links" (click)="openCity(event, 'Alfabetico')">Por ordem alfabética</button> -->
      </div>
      <div style="display: block" id="Proximo" class="tab__content">
        <ul class="tab__list">
          <li class="tab__item">
            <!-- <a class="tab__link" (click)="presentModalParams()"> -->
              <div class="tab__container">
                <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                <div class="tab__text">
                  <h2 class="tab__title">Burguer King</h2>
                  <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                </div>
              </div>
              <!-- <div>
                <button class="tab__button" (click)="presentModalParams()">GO</button>
              </div> -->
          </li>
          <li class="tab__item">
            <!-- <a class="tab__link" (click)="presentModalParams()"> -->
              <div class="tab__container">
                <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                <div class="tab__text">
                  <h2 class="tab__title">Burguer King</h2>
                  <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                </div>
              </div>
              <!-- <div>
                <button class="tab__button" (click)="presentModalParams()">GO</button>
              </div> -->
          </li>
        </ul>

      </div>

      <div id="Alfabetico" class="tab__content">
    
        <ul class="tab__list">
          <li class="tab__item">
            <!-- <a class="tab__link" (click)="presentModalParams()"> -->
              <div class="tab__container">
                <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                <div class="tab__text">
                  <h2 class="tab__title">Burguer King</h2>
                  <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                </div>
              </div>
              <div>
                <!-- <button (click)="presentModalParams()" class="tab__button">Ir</button> -->
              </div>
            <!-- </a> -->
          </li>
          <li class="tab__item">
            <!-- <a class="tab__link" (click)="presentModalParams()"> -->
              <div class="tab__container">
                <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                <div class="tab__text">
                  <h2 class="tab__title">Burguer King</h2>
                  <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                </div>
              </div>
              <!-- <div>
                <button (click)="presentModalParams()" class="tab__button">GO</button>
              </div> -->
            <!-- </a> -->
          </li>
          <li class="tab__item">
            <!-- <a class="tab__link" (click)="presentModalParams()"> -->
              <div class="tab__container">
                <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                <div class="tab__text">
                  <h2 class="tab__title">Burguer King</h2>
                  <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                </div>
              </div>
              <!-- <div>
                <button (click)="presentModalParams()" class="tab__button">GO</button>
              </div> -->
            <!-- </a> -->
          </li>
          <li class="tab__item">
            <!-- <a class="tab__link" (click)="presentModalParams()"> -->
              <div class="tab__container">
                <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                <div class="tab__text">
                  <h2 class="tab__title">Burguer King</h2>
                  <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                </div>
              </div>
              <!-- <div>
                <button (click)="presentModalParams()" class="tab__button">GO</button>
              </div> -->
            <!-- </a> -->
          </li>
        </ul>

      </div>

    </div>
  </section>


</ion-content>
