<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!--
    Use a documentação para construir os componestes
    https://ionicframework.com/docs/api/action-sheet
  -->

  <ion-item hidden>
    <ion-avatar slot="start">
      <img color="primary" name="Foto" #imgresult  src="{{ SrcPhotoAvatar }}"  value="" (click)="selectImage()">
    </ion-avatar>    
  </ion-item>
  <input #inputcamera class="inputUpload" type="file" accept="image/*" capture="camera" /> 
 

  <!-- #################### Formulario ##################### -->
  <div class="ion-padding">

    <ion-item>
      <ion-avatar slot="start">
        <img  color="primary" name="Foto" #imgresult [src]="Foto" value="" (click)="selectImage()">
      </ion-avatar>
      <ion-label> {{ model.Nome }} {{ model.SobreNome }} </ion-label>
    </ion-item>
    <input #inputcamera class="inputUpload" type="file" accept="image/*" capture="camera" />

    <form #form="ngForm" (ngSubmit)="salvarCRUD(form);" method="post" name="frmMinhaConta">

      <ion-grid>

        <ion-row>
          <ion-col size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-center">
            <ion-item lines="none" color="light">
              <h5><strong>Dados da Conta</strong></h5>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" [(ngModel)]="model.Nome" name="Nome" #txtNome required>
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Sobrenome</ion-label>
              <ion-input type="text" [(ngModel)]="model.SobreNome" name="SobreNome"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">CPF ou CNPJ:</ion-label>
              <ion-input type="text" min="11" maxlength="18" [(ngModel)]="model.CpfCnpj" name="CpfCnpj" #txtCpfCnpj
                required (ionChange)="CpfCnpj = formatMask('CpfCnpj', model.CpfCnpj,'CPFCNPJ')"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-center">
            <ion-item lines="none" color="light">
              <h5><strong>Endereços e Contatos</strong></h5>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" name="Email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z-_.]{2,}[.]{1}[a-zA-Z]{2,}"
                required [(ngModel)]="model.Email"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Celular</ion-label>
              <ion-input type="tel" maxlength="15" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" name="Celular" required
                [(ngModel)]="model.Celular" #txtCelular required
                (ionChange)="Celular = formatMask('Celular', model.Celular,'TELEFONE')">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Telefone</ion-label>
              <ion-input type="tel" maxlength="15" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$"
                [(ngModel)]="model.Telefone" name="Telefone" required
                (ionChange)="Telefone = formatMask('Telefone', model.Telefone,'TELEFONE')">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">CEP</ion-label>
              <ion-input minlength="8" maxlength="10" type="text" [(ngModel)]="model.Cep" name="Cep" 
                #txtCep required
                (ionBlur) = "readEndereco(model.Cep);"
                (ionChange)="Cep = formatMask('Cep', model.Cep,'CEP')">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="7" size-lg="7" size-xl="7" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Endereco / Rua</ion-label>
              <ion-input type="text" [(ngModel)]="model.EnderecoRua" name="EnderecoRua" #txtEnderecoRua required>
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Nº</ion-label>
              <ion-input type="text"  [(ngModel)]="model.EnderecoNumero" name="EnderecoNumero" #txtEnderecoNumero
                >
              </ion-input>
            </ion-item>
          </ion-col>


        </ion-row>

        <ion-row>

          <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Bairro</ion-label>
              <ion-input type="text" [(ngModel)]="model.Bairro" name="Bairro" #txtBairro required>
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Cidade</ion-label>
              <ion-input type="text" [(ngModel)]="model.Cidade" name="Cidade" #txtCidade required>
              </ion-input>
            </ion-item>
          </ion-col>


          <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3" class="ion-align-self-center">

            <ion-item>
              <ion-label position="floating">UF - Unidade Federativa</ion-label>
              <ionic-selectable nome="UFs" confirmButtonText="Confirmar" closeButtonText="X"
                searchPlaceholder="Pesquisar" searchFailText="Nenhum registro encontrado."
                [(ngModel)]="model.UFs" [ngModelOptions]="{standalone: true}" [items]="collectionUfs"
                itemValueField="CodigoBaseUF" itemTextField="Nome" [canSearch]="true"
                (onChange)="selectChangeUFs($event, 'CodigoBaseUF')">
              </ionic-selectable>
            </ion-item>

          </ion-col>




          <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3" class="ion-align-self-center">

            <ion-item>
              <ion-label position="floating">Município </ion-label>
              <ionic-selectable nome="Municipios" confirmButtonText="Confirmar" closeButtonText="X"
                searchPlaceholder="Pesquisar" searchFailText="Nenhum registro encontrado."
                [(ngModel)]="model.Municipios" [ngModelOptions]="{standalone: true}" [items]="collectionMunicipios"
                itemValueField="CodigoBaseMunicipio" itemTextField="Nome" [canSearch]="true"
                (onChange)="selectChange($event, 'CodigoBaseMunicipio' )">
              </ionic-selectable>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-center">
            <ion-item lines="none" color="light">
              <h5><strong>Dados Funcionais</strong></h5>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Matrícula:</ion-label>
              <ion-input  minlength="9" maxlength="11" type="text" [(ngModel)]="model.Matricula" name="Matricula" #txtMatricula required>
              </ion-input>
            </ion-item>
          </ion-col>





          <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Senha:</ion-label>

              <ion-input  minlength="6" maxlength="8"  #Senha [(ngModel)]="model.Senha" name="Senha" clearInput type="{{password_type}}"
                placeholder="Digite a senha, minimo 6 dígitos" required>
                <ion-icon style="zoom:1.5;" slot="end" #SenhaIcon name="{{password_icon}}"
                  (click)="togglePasswordMode()">
                </ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Repita a Senha:</ion-label>
              <ion-input  minlength="6" maxlength="8"  #ReSenha [(ngModel)]="model.ReSenha" name="ReSenha" clearInput type="{{password_type}}"
                placeholder="Redigite a senha" required>
                <ion-icon style="zoom:1.5;" slot="end" #SenhaIcon name="{{password_icon}}"
                  (click)="togglePasswordMode()">
                </ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>




         <!--  <ion-col size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-center">

            <ion-item>
              <ion-label position="floating">Unidade (Regional) </ion-label>
              <ionic-selectable nome="Unidades" confirmButtonText="Confirmar" closeButtonText="X"
                searchPlaceholder="Pesquisar" searchFailText="Nenhum registro encontrado." [(ngModel)]="model.Unidades"
                [ngModelOptions]="{standalone: true}" [items]="collectionUnidades" itemValueField="CodigoUnidade"
                itemTextField="NomeSocial" [canSearch]="true" (onChange)="selectChange($event, 'CodigoUnidade' )">
              </ionic-selectable>
            </ion-item>
          </ion-col> -->



        </ion-row>

        <ion-row>
          <ion-col size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-right">
            <ion-button type="submit" [disabled]="!form.valid" expand="block" color="secondary">
              Salvar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
  </div>

</ion-content>


<!--   <form #form="ngForm" (ngSubmit)="salvar(form);" method="post" name="frmMinhaConta">

    <ion-item>
      <ion-avatar slot="start">
        <img style="zoom: 2.0;" color="primary" name="Foto" #imgresult [src]="Foto" value="" (click)="selectImage()">
      </ion-avatar>
      <ion-label> {{ model.Nome }} {{ model.SobreNome }} </ion-label>
    </ion-item>
    <input #inputcamera class="inputUpload" type="file" accept="image/*" capture="camera" />

    <ion-grid>
      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" class="ion-align-self-center">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" min="2" maxlength="30" [(ngModel)]="model.Nome" name="Nome" #txtNome required>
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" class="ion-align-self-center">
          <ion-item>
            <ion-label position="floating">Sobrenome</ion-label>
            <ion-input type="text" min="2" maxlength="30" [(ngModel)]="model.SobreNome" name="SobreNome" #txtSobreNome
              required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
       
        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" class="ion-align-self-center">
          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input type="text" [(ngModel)]="model.Telefone" min="10" maxlength="15" name="Telefone" #txtTelefone
              required (ionChange)="formatMask('Telefone', model.Telefone,'TELEFONE')">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" class="ion-align-self-center">
          <ion-item>
            <ion-label position="floating">Celular</ion-label>
            <ion-input type="text" [(ngModel)]="model.Celular" min="10" maxlength="15" name="Celular" #txtCelular
              required (ionChange)="formatMask('Celular', model.Celular,'TELEFONE')">
            </ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" class="ion-align-self-center">
          <ion-item>
            <ion-label position="floating">Senha:</ion-label>

            <ion-input #Senha [(ngModel)]="model.Senha" name="Senha" clearInput type="{{password_type}}"
              placeholder="Digite a senha" required>
              <ion-icon style="zoom:1.5;" slot="end" #SenhaIcon name="{{password_icon}}" (click)="togglePasswordMode()">
              </ion-icon>

            </ion-input>



          </ion-item>
        </ion-col>

        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" class="ion-align-self-center">
          <ion-item>
            <ion-label position="floating">Repita a Senha:</ion-label>
            <ion-input #ReSenha [(ngModel)]="model.ReSenha" name="ReSenha" clearInput type="{{password_type}}"
              placeholder="Digite a senha" required>
              <ion-icon style="zoom:1.5;" slot="end" #SenhaIcon name="{{password_icon}}" (click)="togglePasswordMode()">
              </ion-icon>

            </ion-input>


          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" class="ion-align-self-center">
          <ion-button type="submit" [disabled]="!form.valid" expand="block" color="secondary">
            Salvar
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

 -->
<!--



    

    
    

    <ion-item>
      <ion-label position="floating">IMEI:</ion-label>
      <ion-input ngModel type="text" placeholder="Informe Número de IMEI do Celular" name="IMEI" required
        value="{{ IMEI  }}">
      </ion-input>
    </ion-item>
   


    <h3 *ngIf="images.length == 0" class="ion-text-center">Please Select Image!</h3>
 
    <ion-list>
      <ion-item *ngFor="let img of images; index as pos" text-wrap>
        <ion-thumbnail slot="start">
          <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ img.name }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  -->



<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image</ion-button>
  </ion-toolbar>
</ion-footer>
-->