
//------------------------
//  Tipografia do Projeto
//------------------------

// @font-face {
//   font-family: Atma;
//   src: url(../../assets/app/fonts/Atma-Regular.ttf);
// }

// @font-face {
//   font-family: Glacial;
//   src: url();
// }

h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 1.2;
}