<ion-content>
  <div class="form__content">

    <img class="logo" src="../../../assets/app/logo/Woppa_sombreado.png" alt="Logo Woppa">   
    
    <div class="wrap">
      <h2 class="signup__title">Crie sua conta</h2>
      <form class="form">
        <input type="text" placeholder="Nome Completo">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirmar Senha">
        <input class="submit" type="submit" value="Enviar">
        <input class="back" type="button" value="Voltar" (click)="goBack()" >
      </form>
    </div>
    <p class="terms">Ao criar sua conta você concorda com os <a href="#">Termos do Serviço</a>.</p>
  </div>
</ion-content>