<div class="modal__background">
  <span class="modal__wrap">
    <div class="modal__header">
      <img src="../../../assets/app/logo/IconeWoppa-branco.png" alt="">
    </div>
    <span class="woppa__promo">
      <h3 class="woppa__subtitle">Poxa...</h3>
      <p class="woppa__caption">Infelizmente essa oferta expirou, mas encontraremos
        outras ofertas que também podem ser do teu interesse!</p>
        <div class="woppa__item-list">
          <div class="woppa__item">
            <div class="overlay"></div>
            <img class="woppa__image" src="../../../assets/app/img/img1.jpg">
          </div>
          <div class="woppa__item">
            <div class="overlay"></div>
            <img class="woppa__image" src="../../../assets/app/img/img1.jpg">
          </div>
        </div>
    </span>
    
    <span class="woppa__content">
      <button [routerLink]="['/menu']" class="woppa__button modal">Voltar</button>
    </span>
  </span>
</div>