<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Use a Oferta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>O PRODUTO É SEU!!!</ion-card-title>
      <ion-card-subtitle>Poxa...</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Continue utilizando o Woppa!!! E garanta sempre compra....
    </ion-card-content>
    <br>
    <ion-button color="secondary" expand="block" [routerLink]="['/menu']">
      OK
    </ion-button>
  </ion-card>
</ion-content> -->

<div class="modal__background">
  <span class="modal__wrap">
    <div class="modal__header">
      <img src="../../../assets/app/logo/IconeWoppa-branco.png" alt="">
    </div>
    <div class="woppa__item">
      <img class="woppa__image" src="../../../assets/app/img/estrelas.png">
    </div>
    <span class="woppa__promo">
      <h3 class="woppa__subtitle">O produto é seu!</h3>
      <p class="woppa__caption">Continue utilizando o Woppa! E garanta sempre excelentes ofertas como esta.</p>
      <button [routerLink]="['/menu']" class="woppa__button modal">Voltar</button>
    </span>
  </span>
</div>