<!-- <span class="modal__wrap">
  <span class="modal__wrap-close">
    <ion-button class="woppa__button-close" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </span>
  <h2 class="woppa__title">Economize até R$50,00!</h2>
  <span class="woppa__promo">
    <h3 class="woppa__subtitle">Compre um Combo Whoopper e Ganhe outro!</h3>
    <p class="woppa__caption">Promoção válida por tempo indeterminado ou enquanto durarem os estoques. Promoção não
      cumulativa. Os preços dos
      produtos podem variar de acordo com região e/ou restaurantes. Promoção válida somente nos restaurantes Burger
      King®
      participantes. Consulte os restaurantes participantes no site: cupons.burgerking.com.br. Em caso de item adicional
      ou troca, o item será cobrado separadamente. TM & © 2020 Burger King Corporation. Uso sob licença. Todos os
      direitos reservados.</p>
  </span>
  <span class="woppa__content">
    <button [routerLink]="['/devices']" class="woppa__button default">Desbloqueie a oferta</button>
    <small class="woppa__small-caption">Ofertas estão sujeitas aos <a href="#">Termos de Uso</a></small>
  </span>
</span> -->


<div class="modal__background">
  <span class="modal__wrap">
    <div class="modal__header">
      <img src="../../../assets/app/logo/IconeWoppa-branco.png" alt="">
    </div>
    <span class="woppa__promo">
      <h3 class="woppa__subtitle">Compre um Combo Whoopper e Ganhe outro!</h3>
      <p class="woppa__caption">Promoção válida por tempo indeterminado ou enquanto durarem os estoques. Promoção não
        cumulativa. Os preços dos
        produtos podem variar de acordo com região e/ou restaurantes. Promoção válida somente nos restaurantes Burger
        King®
        participantes. Consulte os restaurantes participantes no site: cupons.burgerking.com.br. Em caso de item adicional
        ou troca, o item será cobrado separadamente. TM & © 2020 Burger King Corporation. Uso sob licença. Todos os
        direitos reservados.</p>
    </span>
    <span class="woppa__content">
      <button [routerLink]="['/menu/supplier-products']" class="woppa__button modal">Desbloquear oferta!</button>
      <button [routerLink]="['/menu/supplier-products']"class="woppa__button back">Voltar</button>
      <small class="woppa__small-caption">Ofertas estão sujeitas aos <a href="#">Termos de Uso</a></small>
    </span>
  </span>
</div>