
<div class="content">
  <div no-shadow color="primary" class="delivery__toolbar">
  
    <ion-buttons slot="start">
      <ion-button (click)="closeModal();">
         <ion-icon class="main__icon" name="arrow-round-back"></ion-icon>
      </ion-button> 

    </ion-buttons>

    <ion-title class="main__title">Carteira</ion-title>  
  </div>

    <section>
      <div class="wrap">
        <!-- <h2 class="woppa__heading">Delivery</h2> -->
        <div class="tab">
          <!-- <button class="tab__links" (click)="openCategory(event, 'Proximo')">Próximo</button>
          <button class="tab__links" (click)="openCategory(event, 'Alfabetico')">Por ordem alfabética</button> -->
        </div>
        <div style="display: block" id="Proximo" class="tab__content">
          <p class="tab__wallet-info">Você possui 2 itens em sua carteira:</p>
          <ul class="tab__list">
            <li class="tab__item">
              <a class="tab__link" (click)="goUnlockOffer()" >
                <div class="tab__container">
                  <img class="tab__image" src="../../../assets/app/img/burguer-king.png">
                  <div class="tab__text">
                    <h2 class="tab__title">Burguer King</h2>
                    <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                    <div class="tab__wallet-content">
                      <p>Válido até 31/12/2021</p>
                      <button class="woopa__button-listagem">Usar agora</button>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="tab__item expired">
              <a class="tab__link" (click)="goUnlockOffer()" >
                <div class="tab__container">
                  <img class="tab__image" src="../../../assets/app/img/burguer-king.png">
                  <div class="tab__text">
                    <h2 class="tab__title">Burguer King</h2>
                    <p class="tab__caption">São Paulo, Rua Dona Vitu Giorgi, 1000</p>
                    <div class="tab__wallet-content">
                      <p>Expirado em 06/10/2020</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
  
        </div>
  
        <div id="Alfabetico" class="tab__content">
      
          <ul class="tab__list">
            <li class="tab__item">
              <a class="tab__link" href="#">
                <div class="tab__container">
                  <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                  <div class="tab__text">
                    <h2 class="tab__title">Burguer King</h2>
                    <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                  </div>
                </div>
                <div>
                  <button  (click)="Pesquisar()" class="tab__button">Ir</button>
                </div>
              </a>
            </li>
            <li class="tab__item">
              <a class="tab__link" href="#">
                <div class="tab__container">
                  <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                  <div class="tab__text">
                    <h2 class="tab__title">Burguer King</h2>
                    <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                  </div>
                </div>
                <div>
                  <button  (click)="Pesquisar()" class="tab__button">GO</button>
                </div>
              </a>
            </li>
            <li class="tab__item">
              <a class="tab__link" href="#">
                <div class="tab__container">
                  <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                  <div class="tab__text">
                    <h2 class="tab__title">Burguer King</h2>
                    <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                  </div>
                </div>
                <div>
                  <button  (click)="Pesquisar()" class="tab__button">GO</button>
                </div>
              </a>
            </li>
            <li class="tab__item">
              <a class="tab__link" href="#">
                <div class="tab__container">
                  <img class="tab__image" src="../../../../assets/app/img/burguer-king.png">
                  <div class="tab__text">
                    <h2 class="tab__title">Burguer King</h2>
                    <p class="tab__caption">São Paulo, Av. Paulista 500</p>
                  </div>
                </div>
                <div>
                  <button  (click)="Pesquisar()" class="tab__button">GO</button>
                </div>
              </a>
            </li>
          </ul>
  
        </div>
  
      </div>
    </section>
  
</div>